*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(238, 238, 238);
}

.body-content{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 50px;
}

.create-post-container{
    padding-top: 10px;
}

#create-post-form{
    display: none;
}

.profile-image{
    width: 64px;
}

.confession-post{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.author-name{
    position: relative;
    top: 10px;
}

.post-time{
    position: relative;
    top: 15px;
}

.post-header{
    display: flex;
}

.commenter-profile-image{
    width: 40px;
    position: relative;
    top: 30px;
}

.comment-row{
    display: flex;
}

.comment-col-1{
    margin-right: 15px;
}

.comment-time{
    position: relative;
    top: 5px;
}