<h3 style="color:red;">You must have JavaScript enabled in order to use this website. Please enable JavaScript and then reload this page in order to continue.</h3>

<script>
    window.location.href ='/';
</script>
